/* .text-pink {
    
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  .border-pink {
    border-color: #8dc73f !important;
  }
  .bg-pink-light {
    background-color: #8dc73f !important;
  }
  
  .sidebar:hover {
    color: rgb(248, 249, 251);
  } */
  
  .nav1 {
    height: 100%;
    width: 250px;
  }
  body.hide-footer footer {
    display: none !important;
  }
  #admin-logo-img{
    width:130px ;
    height: 80px;
    margin-left: 35px;
  }
  .text-white {
    color: #ffffff !important;
  }
  
  .bg-white-light {
    background-color: rgba(243, 234, 234, 0.15) ;
  }
  #adm{
    position: fixed;
    z-index: 1000;
  }
 
  .sidebar {
    background-color: #046333;
    color: white;
    width: 260px;
    height: 700px; /* Full height */
   
    top: 0;
    left: 0;
    overflow-y: auto; /* Scroll inside sidebar if needed */
   
    z-index: 1000; /* Keep it above main content */
  }
  
  .sidebar-hidden {
    width: 0 !important;
    overflow: hidden;
  }
  
  
  .hide-footer footer {
    display: none;
  }
  
  
  
  .text-secondary {
    color: #faf6f6;
    font-size: 20px;
  }
  
  /* You can override link hover to be white too */
  a:hover {
    color: white !important;
    text-decoration: none;
  }
 